<section class="hero-section">
    <img src="assets/images/hero banner.png" alt="Swaad e Kashmir" class="hero-image">
    <div class="hero-overlay">
        <div class="hero-content">
            <button routerLink="/products" class="shop-btn">
                Shop Now
                <i class="fa-solid fa-arrow-right"></i>
            </button>

            <button class="whatsapp-btn" (click)="openWhatsapp()">
                <i class="fa-brands fa-whatsapp"></i>
                Order on WhatsApp
            </button>
        </div>
    </div>
</section>

<section class="features-container my-4">
    <div class="features-section">
        <div class="feature-card">
            <div class="feature-icon">
                <i class="fa-solid fa-user-group"></i>
            </div>
            <div class="feature-content">
                <h2>Directly from Farmers</h2>
                <p>No middlemen, pure goodness.</p>
            </div>
        </div>

        <div class="divider"></div>

        <div class="feature-card">
            <div class="feature-icon">
                <i class="fa-solid fa-shield-heart"></i>
            </div>
            <div class="feature-content">
                <h2>100% Natural</h2>
                <p>No additives or preservatives.</p>
            </div>
        </div>

        <div class="divider"></div>

        <div class="feature-card">
            <div class="feature-icon">
                <i class="fa-solid fa-seedling"></i>
            </div>
            <div class="feature-content">
                <h2>Premium Quality</h2>
                <p>Handpicked with care.</p>
            </div>
        </div>

        <div class="divider"></div>

        <div class="feature-card">
            <div class="feature-icon">
                <i class="fa-solid fa-truck-fast"></i>
            </div>
            <div class="feature-content">
                <h2>Pan India Delivery</h2>
                <p>Hygienically packed & delivered.</p>
            </div>
        </div>
    </div>
</section>